@{
}
<div class="page-content">
    <div class="wizard-v6-content">
        <div class="wizard-form">
            <form class="form-register" id="form-register" action="#" method="post">
                <div id="form-total">

                    <!-- SECTION 1 -->
                    <h2>
                        <p class="step-icon"><span>1</span></p>
                        <span class="step-text">Personal</span>
                    </h2>
                    <section>
                        <div class="inner">
                            <div class="form-heading">
                                <h5>Applicant</h5>
                                <span>1/4</span>
                            </div>
                            <div class="form-row mb-3">
                                <div class="form-holder col-lg-3">
                                    <label for="applicantFirstName" class="special-label-1"><span class="text-danger pr-1">*</span>First Name</label>
                                    <input type="text" class="form-control inputHolder" id="applicantFirstName"
                                           name="applicantFirstName" onkeypress="clsAlphaWithSpacesOnly(event)"
                                           onpaste="return false;" required maxlength="20">
                                </div>
                                <div class="form-holder col-lg-3">
                                    <label for="applicantLastName" class="special-label-1"><span class="text-danger pr-1">*</span>Last Name</label>
                                    <input type="text" onkeypress="clsAlphaWithSpacesOnly(event)"
                                           onpaste="return false;" class="form-control inputHolder" id="applicantLastName"
                                           name="applicantLastName" maxlength="30" required>
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label for="applicantMiddleName" class="special-label-1">Middle Name</label>
                                    <input type="text" onkeypress="clsAlphaWithSpacesOnly(event)"
                                           onpaste="return false;" class="form-control inputHolder"
                                           id="applicantMiddleName" name="applicantMiddleName" maxlength="15">
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label for="applicantDateOfBirth" class="special-label-1"><span class="text-danger pr-1">*</span>Date of Birth</label>
                                    <input type="text" placeholder="" class="datePicker form-control inputHolder" id="applicantDateOfBirth"
                                           name="applicantDateOfBirth" required>
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label for="applicantSIN" class="special-label-1"><span class="text-danger pr-1">*</span>S.I.N</label>
                                    <input type="text" onkeydown="enforceFormat(event)" onkeyup="formatToSIN(event)"
                                           placeholder="9 digit" onpaste="return false;" class="form-control inputHolder"
                                           id="applicantSIN" name="applicantSIN" required>
                                </div>
                            </div>
                        </div>
                        <div class="inner">
                            <div class="form-heading">
                                <h5>Spouse/Co-Applicant</h5>
                            </div>
                            <div class="form-row mb-3">
                                <div class="form-holder col-lg-3">
                                    <label for="spouseFirstName" class="special-label-1">First Name</label>
                                    <input type="text" onkeypress="clsAlphaWithSpacesOnly(event)"
                                           onpaste="return false;" maxlength="20" class="form-control inputHolder"
                                           id="spouseFirstName" name="spouseFirstName">
                                </div>
                                <div class="form-holder col-lg-3">
                                    <label for="spouseLastName" class="special-label-1">Last Name</label>
                                    <input type="text" onkeypress="clsAlphaWithSpacesOnly(event)"
                                           onpaste="return false;" class="form-control inputHolder" id="spouseLastName"
                                           name="spouseLastName" maxlength="30">
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label for="spouseMiddleName" class="special-label-1">Middle Name</label>
                                    <input type="text" onkeypress="clsAlphaWithSpacesOnly(event)"
                                           onpaste="return false;" class="form-control inputHolder" id="spouseMiddleName"
                                           name="spouseMiddleName" maxlength="15">
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label for="spouseDateOfBirth" class="special-label-1">Date of Birth</label>
                                    <input type="text" class="form-control inputHolder datePicker" id="spouseDateOfBirth"
                                           name="spouseDateOfBirth">
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label for="spouseSIN" class="special-label-1">S.I.N</label>
                                    <input type="text" onkeydown="enforceFormat(event)" onkeyup="formatToSIN(event)"
                                           onpaste="return false;" class="form-control inputHolder" id="spouseSIN"
                                           placeholder="9 digit" name="spouseSIN">
                                </div>
                            </div>
                        </div>
                        <div class="inner">

                            <div class="form-row mt-3">
                                <div class="form-holder col-lg-3">
                                    <label for="applicantPhone" class="special-label-1"><span class="text-danger pr-1">*</span>Applicant Phone</label>
                                    <input type="text" onkeydown="enforceFormat(event)" onpaste="return false;"
                                           onkeyup="formatToPhone(event)" class="form-control inputHolder"
                                           placeholder="10 digit" id="applicantPhone" name="applicantPhone" required>
                                </div>
                                <div class="form-holder col-lg-3">
                                    <label for="cpApplicantPhone" class="special-label-1">Cp-Applicant Phone</label>
                                    <input type="text" onkeydown="enforceFormat(event)" onpaste="return false;"
                                           onkeyup="formatToPhone(event)" class="form-control inputHolder"
                                           placeholder="10 digit" id="cpApplicantPhone" name="cpApplicantPhone">
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label for="maritalStatus" class="special-label-1">Marital Status</label>
                                    <select name="maritalStatus" id="maritalStatus" class="form-control inputHolder">
                                        <option value="Single" selected>Single</option>
                                        <option value="Married">Married</option>
                                        <option value="Divorce">Divorce</option>
                                    </select>
                                    <span class="select-btn">
                                        <i class="zmdi zmdi-chevron-down"></i>
                                    </span>
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label for="driverLicence" class="special-label-1">Driver Licence</label>
                                    <input type="text" class="form-control inputHolder" id="driverLicence"
                                           name="driverLicence" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           maxlength="12" onpaste="return false;">
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label for="expDate" class="special-label-1">Exp. Date</label>
                                    <input type="text" class="form-control inputHolder datePicker" id="expDate" name="expDate">
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- SECTION 2 -->
                    <h2>
                        <p class="step-icon"><span>2</span></p>
                        <span class="step-text">Address</span>
                    </h2>
                    <section>
                        <div class="inner">
                            <div class="form-heading">
                                <h5>Applicant Address</h5>
                                <span>2/4</span>
                            </div>

                            <div class="form-row mb-3">
                                <div class="form-holder col-lg-12">
                                    <label for="applicantAddress" class="special-label-1"><span class="text-danger pr-1">*</span>Address</label>
                                    <input type="text" class="form-control inputHolder" id="applicantAddress"
                                           name="applicantAddress" required maxlength="135">
                                </div>
                            </div>
                            <!--row-->
                            <div class="form-row mb-3">
                                <div class="form-holder col-lg-3">
                                    <label for="applicantCity" class="special-label-1"><span class="text-danger pr-1">*</span>City</label>
                                    <input type="text" class="form-control inputHolder" id="applicantCity"
                                           name="applicantCity" onkeypress="clsAlphaWithSpacesOnly(event)" required
                                           maxlength="15">
                                </div>
                                <div class="form-holder col-lg-3">
                                    <label for="applicantProvince" class="special-label-1"><span class="text-danger pr-1">*</span>Province</label>
                                    <input type="text" class="form-control inputHolder" id="applicantProvince"
                                           name="applicantProvince" onkeypress="clsAlphaWithSpacesOnly(event)"
                                           maxlength="15" required>
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label for="applicantPostalCode" class="special-label-1"><span class="text-danger pr-1">*</span>Postal Code</label>
                                    <input type="text" class="form-control inputHolder" id="applicantPostalCode"
                                           name="applicantPostalCode"
                                           onkeypress="clsStringAlphaNumberOnlyForPostalCode(event)"
                                           onpaste="return false;" onkeyup="formatToPostalCode(event)" required>
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label for="applicantHowLongYear" class="special-label-1"><span class="text-danger pr-1">*</span>How Long </label>
                                    <input type="number" value=0 placeholder="Year" class="form-control inputHolder"
                                           id="applicantHowLongYear" name="applicantHowLongYear" min="0" maxlength="2"
                                           required>
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label class="special-label-1 invisible"> Month</label>
                                    <input type="number" value=0 placeholder="Month" class="form-control inputHolder"
                                           id="applicantHowLongMonth" name="applicantHowLongMonth" min="0" max="11"
                                           maxlength="2" required>
                                </div>
                            </div>
                            <!--row-->
                        </div>
                        <!--inner-->
                        <div class="inner">
                            <div class="form-heading">
                                <h5>Previous Applicant address (If current Applicant address less than 2 years)</h5>
                            </div>

                            <div class="form-row mt-3">
                                <div class="form-holder col-lg-12">
                                    <label for="previousApplicantAddress" class="special-label-1"><span class="text-danger pr-1">*</span>Address</label>
                                    <input type="text" class="form-control inputHolder" id="previousApplicantAddress"
                                           name="previousApplicantAddress" maxlength="135" required>
                                </div>
                            </div>
                            <!--row-->
                            <div class="form-row mt-3">
                                <div class="form-holder col-lg-3">
                                    <label for="previousApplicantCity" class="special-label-1"><span class="text-danger pr-1">*</span>City</label>
                                    <input type="text" class="form-control inputHolder" id="previousApplicantCity"
                                           name="previousApplicantCity" onkeypress="clsAlphaWithSpacesOnly(event)"
                                           maxlength="15" required>
                                </div>
                                <div class="form-holder col-lg-3">
                                    <label for="previousApplicantProvince" class="special-label-1"><span class="text-danger pr-1">*</span>Province</label>
                                    <input type="text" class="form-control inputHolder" id="previousApplicantProvince"
                                           name="previousApplicantProvince" onkeypress="clsAlphaWithSpacesOnly(event)"
                                           required maxlength="15">
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label for="previousApplicantPostalCode" class="special-label-1"><span class="text-danger pr-1">*</span>Postal Code</label>
                                    <input type="text" class="form-control inputHolder" id="previousApplicantPostalCode"
                                           name="previousApplicantPostalCode"
                                           required
                                           onkeypress="clsStringAlphaNumberOnlyForPostalCode(event)"
                                           onpaste="return false;" onkeyup="formatToPostalCode(event)">
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label for="previousApplicantHowLongYear" class="special-label-1">How Long</label>
                                    <input type="number" placeholder="Year" class="form-control inputHolder"
                                           id="previousApplicantHowLongYear" name="previousApplicantHowLongYear" value="0"
                                           min="0" maxlength="2">
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label class="special-label-1 invisible">Month</label>
                                    <input type="number" placeholder="Month" class="form-control inputHolder"
                                           id="previousApplicantHowLongMonth" name="previousApplicantHowLongMonth"
                                           value="0" min="0" max="11" maxlength="2">
                                </div>
                            </div>
                            <!--row-->
                        </div>
                        <!--inner-->
                        <div class="inner">

                            <div class="form-row mt-3">
                                <div class="col-lg-3 col-lg-offset-0">
                                    <div class="checkbox mr-3 d-inline">
                                        <label class="chkBoxLabel text-white">
                                            <input type="radio" name="ownStatus" id="owonId" value="Owon"
                                                   style="width: 25px;
                                                                                            height: 25px;
                                                                                            position: relative;
                                                                                            top: 3px;">
                                            Owon
                                        </label>
                                    </div>
                                    <div class="checkbox mr-3 d-inline">
                                        <label class="chkBoxLabel text-white">
                                            <input type="radio" name="ownStatus" value="Rent" id="rentId" style="width: 25px;
                                                                                            height: 25px;
                                                                                            position: relative;
                                                                                            top: 3px;">
                                            Rent
                                        </label>
                                    </div>
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label for="marketValue" class="special-label-1 ">Market Value($)</label>
                                    <input type="text" class="form-control inputHolder disabledOnCheck" name="marketValue" id="marketValue" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$1,000,000.00" disabled>
                                    @*<input type="number" class="form-control inputHolder disabledOnCheck"
                                        id="marketValue" name="marketValue" min="1" max="100000000" maxlength="9"
                                        disabled=true>*@
                                </div>
                                <div class="form-holder col-lg-3">
                                    <label for="mortgageHolder" class="special-label-1">Mortgage Holder</label>
                                    <input type="text" class="form-control inputHolder disabledOnCheck"
                                           id="mortgageHolder" name="mortgageHolder"
                                           onkeypress="clsAlphaWithSpacesOnly(event)" maxlength="15" disabled>
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label for="mortgage" class="special-label-1">Mortgage / Rent Amount($) </label>
                                    <input type="text" class="form-control inputHolder disabledOnCheck" name="mortgage" id="mortgage" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$1,000,000.00" disabled>
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label for="mortgageBalance" class="special-label-1">Mortgage Balance($)</label>
                                    <input type="text" class="form-control inputHolder disabledOnCheck" name="mortgageBalance" id="mortgageBalance" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$1,000,000.00" disabled>


                                </div>
                            </div>
                            <!--row-->
                        </div>
                        <!--inner-->
                    </section>

                    <!-- SECTION 3 -->
                    <h2>
                        <p class="step-icon"><span>3</span></p>
                        <span class="step-text">Employment</span>
                    </h2>
                    <section>
                        <div class="inner">
                            <div class="form-heading">
                                <h5>Present Employer</h5>
                                <span>3/4</span>
                            </div>
                            <div class="form-row mb-3">
                                <div class="form-holder col-lg-5">
                                    <label for="presentEmployerName" class="special-label-1">
                                        <span class="text-danger pr-1">*</span>Present Employer
                                        Name
                                    </label>
                                    <input type="text" class="form-control inputHolder" id="presentEmployerName"
                                           name="presentEmployerName" onkeypress="clsAlphaWithSpacesOnly(event)"
                                           onpaste="return false;" maxlength="20" required>
                                </div>
                                <div class="form-holder col-lg-4">
                                    <label for="presentEmployerOccupation" class="special-label-1"><span class="text-danger pr-1">*</span>Occupation</label>
                                    <input type="text" class="form-control inputHolder" id="presentEmployerOccupation"
                                           name="presentEmployerOccupation" onkeypress="clsAlphaWithSpacesOnly(event)"
                                           onpaste="return false;" maxlength="30" required>
                                </div>
                                <div class="form-holder col-lg-1 p-0">
                                    <label class="form-row-inner text-white" style="
		                                                                   position: relative;
		                                                                   left: -3%;
		                                                                   top: -43%;
		                                                                   font-weight: 600;
		                                                                   font-size: 14px;">
                                        <span class="text-danger pr-1">*</span>How Long
                                    </label>
                                </div>
                                <div class="form-holder col-lg-1">
                                    <label for="presentEmployerHowLongYear" class="special-label-1">year</label>
                                    <input type="number" class="form-control inputHolder"
                                           id="presentEmployerHowLongYear" name="presentEmployerHowLongYear" required
                                           value="0" min="0" maxlength="2">
                                </div>
                                <div class="form-holder col-lg-1">
                                    <label for="presentEmployerHowLongMonth" class="special-label-1">month</label>
                                    <label class="form-row-inner">
                                        <input type="number" value="0" min="0" max="11" maxlength="2"
                                               class="form-control inputHolder" id="presentEmployerHowLongMonth"
                                               name="presentEmployerHowLongMonth" required>
                                </div>
                            </div>
                            <div class="form-row mb-3">

                                <div class="form-holder col-lg-5">
                                    <label for="presentEmployerAddress" class="special-label-1">Address</label>
                                    <input type="text" class="form-control inputHolder" id="presentEmployerAddress"
                                           name="presentEmployerAddress" onkeypress="clsAlphaWithSpacesOnly(event)"
                                           onpaste="return false;" maxlength="135">
                                </div>
                                <div class="form-holder col-lg-4">
                                    <label for="natureBusiness" class="special-label-1">Nature of Business</label>
                                    <input type="text" class="form-control inputHolder" id="natureBusiness"
                                           name="natureBusiness" onkeypress="clsAlphaWithSpacesOnly(event)"
                                           onpaste="return false;" maxlength="40">
                                </div>
                                <div class="form-holder col-lg-3">
                                    <label for="presentEmployerPhone" class="special-label-1">Phone</label>
                                    <input type="text" placeholder="10 digit" id="presentEmployerPhone"
                                           name="presentEmployerPhone" class="form-control inputHolder"
                                           onkeydown="enforceFormat(event)" onpaste="return false;"
                                           onkeyup="formatToPhone(event)" class="form-control inputHolder">
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <div class="form-holder col-lg-5">
                                    <label for="presentEmployerMonthlyIncome" class="special-label-1">
                                        <span class="text-danger pr-1">*</span>Monthly
                                        Income
                                    </label>
                                    <input type="text" class="form-control inputHolder" name="presentEmployerMonthlyIncome" id="presentEmployerMonthlyIncome" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="" required>



                                </div>
                                <div class="form-holder col-lg-7">
                                    <label for="presentEmployerTwoIncome" class="special-label-1">2nd Income</label>

                                    <input type="text" class="form-control inputHolder" name="presentEmployerTwoIncome" id="presentEmployerTwoIncome" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="">

                                </div>
                            </div>
                        </div>
                        <div class="inner">
                            <div class="form-heading">
                                <h5>Previous Employer</h5>
                            </div>
                            <div class="form-row mb-3">
                                <div class="form-holder col-lg-4">
                                    <label for="previousEmployerName" class="special-label-1">
                                        Previous Employer
                                        Name
                                    </label>

                                    <input type="text" onkeypress="clsAlphaWithSpacesOnly(event)" maxlength="20"
                                           onpaste="return false;" class="form-control inputHolder"
                                           id="previousEmployerName" name="previousEmployerName">
                                </div>
                                <div class="form-holder col-lg-4">
                                    <label for="previousEmployerPhone" class="special-label-1">Phone</label>

                                    <input type="text" maxlength="135" class="form-control inputHolder"
                                           onkeydown="enforceFormat(event)" onkeyup="formatToPhone(event)"
                                           id="previousEmployerPhone" name="previousEmployerPhone">
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label class="form-row-inner text-white" style="
		                                                           position: relative;
		                                                           left:55%;
		                                                           top: -43%;
		                                                           font-weight: 600;
		                                                           font-size: 14px;">
                                        How Long
                                    </label>
                                </div>
                                <div class="form-holder col-lg-1">
                                    <label for="previousEmployerHowLongYear" class="special-label-1">year</label>

                                    <input type="number" maxlength="2" class="form-control inputHolder"
                                           id="previousEmployerHowLongYear" name="previousEmployerHowLongYear">
                                </div>
                                <div class="form-holder col-lg-1">
                                    <label for="previousEmployerHowLongMonth" class="special-label-1">month</label>
                                    <input type="number" maxlength="2" class="form-control inputHolder"
                                           id="previousEmployerHowLongMonth" name="previousEmployerHowLongMonth">
                                </div>
                            </div>
                        </div>
                        <div class="inner">
                            <div class="form-heading">
                                <h5>Spouse/Co-Applicant Employer</h5>
                            </div>
                            <div class="form-row mb-3">
                                <div class="form-holder col-lg-4">
                                    <label for="applicantEmployer" class="special-label-1">
                                        Spouse/Co-Applicant Employer
                                        Name
                                    </label>
                                    <input type="text" onkeypress="clsAlphaWithSpacesOnly(event)"
                                           onpaste="return false;" maxlength="20" class="form-control inputHolder"
                                           id="applicantEmployerName" name="applicantEmployerName">
                                </div>
                                <div class="form-holder col-lg-4">
                                    <label for="applicantEmployerOccupation" class="special-label-1">Occupation</label>

                                    <label class="form-row-inner">
                                        <input type="text" onkeypress="clsAlphaWithSpacesOnly(event)"
                                               onpaste="return false;" maxlength="30" class="form-control inputHolder"
                                               id="applicantEmployerOccupation" name="applicantEmployerOccupation">
                                </div>
                                <div class="form-holder col-lg-2">
                                    <label class="form-row-inner text-white" style="
		                                                           position: relative;
		                                                           left: 55%;
		                                                           top: -43%;
		                                                           font-weight: 600;
		                                                           font-size: 14px;">
                                        How Long
                                    </label>
                                </div>
                                <div class="form-holder col-lg-1">
                                    <label for="applicantEmployerHowLongYear" class="special-label-1">year</label>
                                    <input type="number" value="0" min="0" maxlength="2"
                                           class="form-control inputHolder" id="applicantEmployerHowLongYear"
                                           name="applicantEmployerHowLongYear">
                                </div>
                                <div class="form-holder col-lg-1">
                                    <label for="applicantEmployerHowLongMonth" class="special-label-1">month</label>
                                    <input type="number" value="0" min="0" max="11" maxlength="2"
                                           class="form-control inputHolder" id="applicantEmployerHowLongMonth"
                                           name="applicantEmployerHowLongMonth">
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <div class="form-holder col-lg-4">
                                    <label for="applicantEmployerPhone" class="special-label-1">Phone</label>
                                    <input type="text" placeholder="10 digit" class="form-control inputHolder"
                                           onkeydown="enforceFormat(event)" onpaste="return false;"
                                           onkeyup="formatToPhone(event)" id="applicantEmployerPhone"
                                           name="applicantEmployerPhone">
                                </div>
                                <div class="form-holder col-lg-4">
                                    <label for="applicantEmployerMonthlyIncome" class="special-label-1">
                                        Monthly
                                        Income
                                    </label>
                                    <input type="text" class="form-control inputHolder" name="applicantEmployerMonthlyIncome" id="applicantEmployerMonthlyIncome" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="">


                                </div>
                                <div class="form-holder col-lg-4">
                                    <label for="applicantEmployerTwoIncome" class="special-label-1">2nd Income</label>
                                    <input type="text" class="form-control inputHolder" name="applicantEmployerTwoIncome" id="applicantEmployerTwoIncome" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="">


                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- SECTION 4 -->
                    <h2>
                        <p class="step-icon"><span>4</span></p>
                        <span class="step-text">VEHICLE</span>
                    </h2>
                    <section>
                        <div class="inner">
                            <div class="form-heading">
                                <h5>SOLD VEHICLE</h5>
                                <span>4/4</span>
                            </div>
                            <div class="form-row">
                                <div class="form-holder col-lg-3">
                                    <label for="solidVehicleMake" class="special-label-1">Make</label>
                                    <input type="text" class="form-control inputHolder" id="solidVehicleMake"
                                           name="solidVehicleMake" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="15">
                                </div>
                                <div class="form-holder col-lg-3">
                                    <label for="solidVehicleModel" class="special-label-1">Model</label>
                                    <input type="text" class="form-control inputHolder" id="solidVehicleModel"
                                           name="solidVehicleModel" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="15">
                                </div>
                                <div class="form-holder col-lg-3">
                                    <label for="solidVehicleYear" class="special-label-1">Year</label>
                                    <input type="text" class="form-control inputHolder" id="solidVehicleYear"
                                           name="solidVehicleYear" onkeypress="clsNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="4" min="1980">
                                </div>
                                <div class="form-holder col-lg-3">
                                    <label for="solidVehicleKMS" class="special-label-1">KMS</label>
                                    <input type="text" class="form-control inputHolder" id="solidVehicleKMS"
                                           name="solidVehicleKMS" onkeypress="clsNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="6" min="0">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-holder col-lg-12">
                                    <label for="solidVehicleMake" class="special-label-1">VIN</label>
                                </div>
                            </div>
                            <div class="form-row mt-1 solidVinInputs vinInputs" id="solidVinInputs" style="left: 0.7%;">
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN1'
                                           id="solidVehicleVIN1" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">

                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN2'
                                           id="solidVehicleVIN2" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN3'
                                           id="solidVehicleVIN3" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN4'
                                           id="solidVehicleVIN4" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1  form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN5'
                                           id="solidVehicleVIN5" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN6'
                                           id="solidVehicleVIN6" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN7'
                                           id="solidVehicleVIN7" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1  form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN8'
                                           id="solidVehicleVIN8" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN9'
                                           id="solidVehicleVIN9" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN10'
                                           id="solidVehicleVIN10" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1  form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN11'
                                           id="solidVehicleVIN11" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN12'
                                           id="solidVehicleVIN12" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN13'
                                           id="solidVehicleVIN13" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1  form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN14'
                                           id="solidVehicleVIN14" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN15'
                                           id="solidVehicleVIN15" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN16'
                                           id="solidVehicleVIN16" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='solidVehicleVIN17'
                                           id="solidVehicleVIN17" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                            </div>
                            <div class="form-row" style="left:0.3%">
                                <div class="col-lg-4 col-lg-offset-0">
                                    <div class="checkbox d-inline">
                                        <label class="chkBoxLabelForm text-white">
                                            <input type="checkbox" class="checkBoxSize" name="solidVehicleDamage" id="solidVehicleDamage">
                                            Damage ove $2000
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-lg-offset-0">
                                    <div class="checkbox d-inline">
                                        <label class="chkBoxLabelForm text-white">
                                            <input type="checkbox" class="checkBoxSize" name="solidVehicleRebuilt" id="solidVehicleRebuilt">
                                            Rebuilt
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-lg-offset-0">
                                    <div class="checkbox d-inline">
                                        <label class="chkBoxLabelForm text-white">
                                            <input type="checkbox" class="checkBoxSize" name="solidVehicleOut" id="solidVehicleOut">
                                            Out of Province
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inner mt-4">
                            <div class="form-heading">
                                <h5>TRADE VEHICLE</h5>
                            </div>
                            <div class="form-row">
                                <div class="form-holder col-lg-3">
                                    <label for="tradeVehicleMake" class="special-label-1">Make</label>
                                    <input type="text" class="form-control inputHolder" id="tradeVehicleMake"
                                           name="tradeVehicleMake" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="15">
                                </div>
                                <div class="form-holder col-lg-3">
                                    <label for="tradeVehicleModel" class="special-label-1">Model</label>
                                    <input type="text" class="form-control inputHolder" id="tradeVehicleModel"
                                           name="tradeVehicleModel" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="15">
                                </div>
                                <div class="form-holder col-lg-3">
                                    <label for="tradeVehicleYear" class="special-label-1">Year</label>
                                    <input type="text" class="form-control inputHolder" id="tradeVehicleYear"
                                           name="tradeVehicleYear" onkeypress="clsNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="4" min="1980">
                                </div>
                                <div class="form-holder col-lg-3">
                                    <label for="tradeVehicleKMS" class="special-label-1">KMS</label>
                                    <input type="text" class="form-control inputHolder" id="tradeVehicleKMS"
                                           name="tradeVehicleKMS" onkeypress="clsNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="6" min="0">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-holder col-lg-12">
                                    <label for="solidVehicleMake" class="special-label-1">VIN</label>
                                </div>
                            </div>
                            <div class="form-row mt-1 vinInputs" id="tradeVinInputs" style="left: 0.7%;">
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN1'
                                           id="tradeVehicleVIN1" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN2'
                                           id="tradeVehicleVIN2" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN3'
                                           id="tradeVehicleVIN3" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN4'
                                           id="tradeVehicleVIN4" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1  form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN5'
                                           id="tradeVehicleVIN5" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN6'
                                           id="tradeVehicleVIN6" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN7'
                                           id="tradeVehicleVIN7" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1  form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN8'
                                           id="tradeVehicleVIN8" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN9'
                                           id="tradeVehicleVIN9" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN10'
                                           id="tradeVehicleVIN10" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1  form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN11'
                                           id="tradeVehicleVIN11" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN12'
                                           id="tradeVehicleVIN12" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN13'
                                           id="tradeVehicleVIN13" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1  form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN14'
                                           id="tradeVehicleVIN14" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN15'
                                           id="tradeVehicleVIN15" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN16'
                                           id="tradeVehicleVIN16" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                                <div class="col-lg-1 form-holder">
                                    <input type="text" class="form-control inputHolder" name='tradeVehicleVIN17'
                                           id="tradeVehicleVIN17" onkeypress="clsAlphaNumberWithNoSpacesOnly(event)"
                                           onpaste="return false;" maxlength="1">
                                </div>
                            </div>
                            <div class="form-row" style="left:0.3%">
                                <div class="col-lg-4 col-lg-offset-0">
                                    <div class="checkbox d-inline">
                                        <label class="chkBoxLabelForm text-white">
                                            <input type="checkbox" class="checkBoxSize" name="tradeVehicleDamage" id="tradeVehicleDamage">
                                            Damage ove $2000
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-lg-offset-0">
                                    <div class="checkbox d-inline">
                                        <label class="chkBoxLabelForm text-white">
                                            <input type="checkbox" class="checkBoxSize" name="tradeVehicleRebuilt" id="tradeVehicleRebuilt">
                                            Rebuilt
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-lg-offset-0">
                                    <div class="checkbox d-inline">
                                        <label class="chkBoxLabelForm text-white">
                                            <input type="checkbox" class="checkBoxSize" name="tradeVehicleOut" id="tradeVehicleOut">
                                            Out of Province
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inner mt-4">
                            <div class="form-heading">
                                <h5>SUMMARY</h5>
                            </div>
                            <div class="form-row">
                                <div class="form-holder col-lg-4">
                                    <label for="price" class="special-label-1">PRICE($)</label>
                                    <input type="text" class="form-control inputHolder" name="price" id="price" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$1,000,000.00">
                                </div>
                                <div class="form-holder col-lg-4">
                                    <label for="docFee" class="special-label-1">DOC FEE($)</label>
                                    <input type="text" class="form-control inputHolder" name="docFee" id="docFee" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$1,000,000.00">
                                </div>
                                <div class="form-holder col-lg-4">
                                    <label for="trade" class="special-label-1">TRADE($)</label>
                                    <input type="text" class="form-control inputHolder" name="trade" id="trade" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$1,000,000.00">
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="form-holder col-lg-4">
                                    <label for="difference" class="special-label-1">DIFFERENCE($)</label>
                                    <input type="text" class="form-control inputHolder" name="difference" id="difference" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$1,000,000.00">
                                </div>
                                <div class="form-holder col-lg-4">
                                    <label for="downPMT" class="special-label-1">DOWN PMT($)</label>
                                    <input type="text" class="form-control inputHolder" name="downPMT" id="downPMT" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$1,000,000.00">
                                </div>
                                <div class="form-holder col-lg-4">
                                    <label for="balanceOwing" class="special-label-1">BALANCE OWING($)</label>
                                    <input type="text" class="form-control inputHolder" name="balanceOwing" id="balanceOwing" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$1,000,000.00">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <h4 class="info-text text-white"> Required Documents, Please Check </h4>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-3  pb-3">
                                <div class="checkbox d-inline">
                                    <label class='chkBoxLabel text-white'>
                                        <input type="checkbox" class="checkBoxSize" name="checkbox[]" id="validId">
                                        Valid ID / Drivers Licence
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="checkbox d-inline">
                                    <label class='chkBoxLabel text-white'>
                                        <input type="checkbox" class="checkBoxSize" name="checkbox[]" id="personalVoid">
                                        Personal Void Cheque / Pre Authorized Pmt Form
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="checkbox d-inline">
                                    <label class='chkBoxLabel text-white'>
                                        <input type="checkbox" class="checkBoxSize" name="checkbox[]" id="paystub">
                                        Two(2) Consecutive Paystub
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-12">
                                <div class="form-group label-floating">
                                    <h6 class="info-text text-white mt-4 m-0">
                                        Acknoledgement by
                                        Applicant(s) and consent to Credit Check
                                    </h6>
                                    <p class="description text-justify text-white">
                                        I/we certify that the above
                                        information is
                                        correct.
                                        BC Auto Finance May obtain credit information about the
                                        applicant and or co-Applicant from their employer, Credit Bureau
                                        or any other
                                        person in connection with any of their dealing with BC Auto
                                        Finance Centre. BC Auto Finance may disclose (automatically or
                                        upon request)
                                        credit information about the applicant and or co-Applicant to
                                        credit bureaus and person with whom the Applicant co-Applicant
                                        has or
                                        proposes to have and or financial dealings or if BC Auto Finance
                                        believes discloser is required by Law.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="inner mt-4">
                            <div class="form-heading">
                            </div>
                            <div class="form-row">
                                <div class="col-lg-5">
                                    <div class="checkbox d-inline">
                                        <label class='chkBoxLabel text-white'>
                                            <input type="checkbox" class="checkBoxSize" name="applicantSignature" id="applicantSignature"
                                                   required>
                                            <span class="text-danger pr-1">*</span>Applicant Signature
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="checkbox d-inline">
                                        <label class='chkBoxLabel text-white'>
                                            <input type="checkbox" class="checkBoxSize" name="coApplicantSignature" id="coApplicantSignature"
                                                   required>
                                            <span class="text-danger pr-1">*</span>Co Applicant Signature
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="inner mt-4">
                            <div class="form-heading">
                            </div>
                            <div class="form-row">
                                <div class="form-holder col-lg-5">

                                    <input type="text" placeholder="please enter your name and family"
                                           onkeypress="clsAlphaWithSpacesOnly(event)" onpaste="return false;"
                                           class="form-control inputHolder disabledOnCheck" disabled
                                           id="applicantSignatureFamily" name="applicantSignatureFamily">
                                </div>
                                <div class="form-holder col-lg-5">
                                    <input type="text" placeholder="please enter your name and family"
                                           onkeypress="clsAlphaWithSpacesOnly(event)" disabled onpaste="return false;"
                                           class="form-control inputHolder disabledOnCheck" id="coApplicantSignatureFamily"
                                           name="coApplicantSignatureFamily">
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </form>
        </div>
    </div>
</div>
