@{
    ViewData["Title"] = "Home Page";
}

<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Let Us Help!</h3>
        </div>
        <div class="row text-center">
            <div class="col-lg-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-cog  fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Apply!</h4>
                <p class="text-muted">2 minute secure application process.</p>
            </div>
            <div class="col-lg-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Your Approved</h4>
                <p class="text-muted">One of our Credit Specialists matches you with our best lending option, often approved within hours.</p>
            </div>
            <div class="col-lg-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Choose Your Vehicle</h4>
                <p class="text-muted">One of our Client Service Specialists will provide you with a range of options from minivans to SUVs, hatchbacks or sedans.</p>
            </div>
            <div class="col-lg-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-truck  fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Pick Up or Deliver!</h4>
                <p class="text-muted">You can choose to come and pick up your new vehicle or we will deliver for FREE anywhere in British Columbia.</p>
            </div>
            <div class="col-lg-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-truck  fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Mechanical warranty</h4>
                <p class="text-muted">We can provide mechanical warranty from the best North American companies</p>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</section>

<!-- Clients-->
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-fluid d-block mx-auto" src="~/assets/img/bank-logos.png" alt="" style="filter: grayscale(100%);" />
            </div>
            <div class="row">
                <div class="col-lg-12 mx-auto"><p class="large text-muted text-justify">If you wish to stop or remove your contact details registered with us, you can email your consent here.Privacy Policy and Terms of Use *O.A.C some down payment may be required. See Dealer for complete details. **Upon confirmation of registration and the purchase of a Pre-Owned Vehicle within 30 days of registration, customer will receive a $300 Gas Card at time</p></div>
            </div>
        </div>
    </div>
</div>

<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
        </div>
        <form class="" id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="form-group">
                <i class="fa fa-phone text-white"></i>
                <label class="col-lg-2 col-form-label text-white">Office :</label>
                <label class="col-lg-3 col-form-label text-white">604 421 6742</label>
            </div>
            <div class="form-group">
                <i class="fa fa-fax text-white"></i>
                <label class="col-lg-2 col-form-label text-white">  Fax :</label>
                <label class="col-lg-3 col-form-label text-white">1 855 715 4142</label>
                <label class="col-lg-3 col-form-label text-white">1 866 208 1517</label>
            </div>
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" id="name"  name="name" type="text" placeholder="Your Name *" required data-validation-required-message="Please enter your name." />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="phone" type="tel" placeholder="Phone or Fax" data-validation-required-message="Please enter your Phone number." />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group mb-md-0">
                        <input class="form-control" id="email" type="email" placeholder="Email" data-validation-required-message="Please enter your email." />
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <textarea class="form-control" id="message"  name="message" placeholder="Your Message *"  data-validation-required-message="Please enter a message..." required></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div id="success"></div>
                <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="button">Send Message</button>
            </div>
        </form>
    </div>
</section>


<!-- Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="assets/img/closeIcon.jpg" width="45" height="45" alt="Close modal" /></div>
            <div class="row">
                <partial name="_LoanModalPartial" />
            </div> <!-- row -->
        </div>
    </div>
</div>

   
